.pageName {
    position: absolute;
    border:none;
    background-color: transparent;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 30px;
    left: 55px;
    font-size: x-large;
}

.tools {
    position: absolute;
    display:grid;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    right: 10px;
    top: 31px;
}

.colorPicker {
    margin-bottom: 7px;
    background: transparent;
    justify-self: right;
    width: 100%;
}

.paintMode {
    margin-bottom: 6px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: transparent;
    width: 100%;
}

.downloadButton {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: transparent;
    width: 100%;
}